<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sou.rover2013"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:name="edu.sou.rover2013.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.sou.rover2013.activities.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.sou.rover2013.activities.ConnectionActivity"
            android:label="@string/title_activity_screen__bluetooth" >
        </activity>
        <activity
            android:name="edu.sou.rover2013.activities.TelemetryActivity"
            android:label="@string/title_activity_screen_telemetry" >
        </activity>
        <activity
            android:name="edu.sou.rover2013.activities.ModeSelectActivity"
            android:label="@string/title_activity_screen_mode_select" >
        </activity>
        <activity
            android:name="edu.sou.rover2013.activities.ControlSimpleActivity"
            android:label="@string/title_activity_control_simple" >
        </activity>
        <activity
            android:name="edu.sou.rover2013.activities.WiFiServerActivity"
            android:label="@string/title_activity_wi_fi_server" >
        </activity>
        <activity
            android:name="edu.sou.rover2013.activities.ControlComplexActivity"
            android:label="@string/title_activity_control_complex" >
        </activity>
        <activity
            android:name="edu.sou.rover2013.activities.ControlWebActivity"
            android:label="@string/title_activity_web" >
        </activity>
    </application>

</manifest>