<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sou.rover2013"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="edu.sou.rover2013.RogoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.sou.rover2013.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.sou.rover2013.ConnectionActivity"
            android:label="@string/title_activity_screen__bluetooth" >
        </activity>
        <activity
            android:name="edu.sou.rover2013.TelemetryActivity"
            android:label="@string/title_activity_screen_telemetry" >
        </activity>
        <activity
            android:name="edu.sou.rover2013.ModeSelectActivity"
            android:label="@string/title_activity_screen_mode_select" >
        </activity>
        <activity
            android:name="edu.sou.rover2013.ControlSimpleActivity"
            android:label="@string/title_activity_control_simple" >
        </activity>
    </application>

</manifest>